{% extends "base.html" %}

{% block content %}
    <main>
        <h3>Play Game!</h3>
        <section>
            <h4>Player 2</h4>
            <p>Make your selection:</p>
            <form action="/player_2" method="POST">
                <label for="name">Player 2's name:</label><br>
                <input type="text" name="name2" id="name2"><br><br>
                <label for="choice">Play either "Rock", "Paper" or "Scissors":</label><br>
                <input type="text" name="choice2" id="choice2"><br><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
{% endblock %}