{% extends "base.html" %}

{% block content %}
    <main>
        <h3>Play Game!</h3>
        <section>
            <h4>Player 1</h4>
            <p>Make your selection:</p>
            <form action="/player_1" method="POST">
                <label for="name">Player 1's name:</label><br>
                <input type="text" name="name" id="name"><br><br>
                <label for="choice">Play either "Rock", "Paper" or "Scissors":</label><br>
                <input type="text" name="choice" id="choice"><br><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
{% endblock %}