{% extends "base.html" %}

{% block content %}
    <main>
        <h3>Play Game!</h3>
        <section>
            <h4>Player 2</h4>
            <p>Make your selection:</p>
            <form action="/player_2/{{ player_1_selection }}/{{ id }}" method="POST">
                <input type="submit" name="rock" id="rock" value="Rock">
                <input type="submit" name="paper" id="paper" value="Paper">
                <input type="submit" name="scissors" id="scissors" value="Scissors">
            </form>
        </section>
    </main>
{% endblock %}