<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Rock, Paper, Scissors!</title>
</head>
<body>
    <header>
        <h1>Rock, Paper, Scissors</h1>
        <h2>Let the games begin!</h2>
    </header>
    <main>
        <h3>Play Game!</h3>
        <section id="player1">
            <h4>Player 1</h4>
            <p>Make your selection:</p>
            <form>
                <input type="submit" name="rock1" value="Rock">
                <input type="submit" name="paper1" value="Paper">
                <input type="submit" name="scissors1" value="Scissors">
            </form>
        </section>
        <section id="player2">
            <h4>Player 2</h4>
            <p>Make your selection:</p>
            <form>
                <input type="submit" name="rock2" value="Rock">
                <input type="submit" name="paper2" value="Paper">
                <input type="submit" name="scissors2" value="Scissors">
            </form>
        </section>
    </main>
    <footer>
        <p>Rock, Paper, Scissors&copy; by David Strain 2020</p>
    </footer>
</body>
</html>